---
layout: default
slug: about
template: page-generic
---
{% include section-grid-header.html %}

<div class="section section-paragraph">
    <div class="container">
        <div class="col-xs-12 col-md-5 color-red font-40 section-paragraph-title">
            与我们一同在
            燕窝的世界里
            创写历史和未来
        </div>
        <div class="col-xs-12 col-md-7 color-gray font-20 section-paragraph-text">
            <p>
                每个空间转型都应该根据您的业务需求进行调整，帮助人们做最好的工作，同时优化房地产。Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择，以改变您的空间，随着您的需求发展。
                从谦卑的根源开始 - 在密歇根湖畔的中西部城镇制作木制家具 -</p>

            <p>
                已经发展成为一个全球性公司，专注于有机工作空间，帮助人们表现最好。每个空间转型都应该根据您的业务需求进行调整，帮助人们做最好的工作，同时优化房地产。Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择。</p>

            <p>Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择，以改变您的空间，随着您的需求发展。</p>
        </div>
    </div>
</div>

<div class="section section-banner-image max-width-1400 clearfix">
    <div class="section-banner-item">
        <img src="images/page-1.jpg">
    </div>
    <div class="section-banner-item">
        <img src="images/page-2.jpg">
    </div>
    <div class="section-banner-item">
        <img src="images/page-3.jpg">
    </div>
</div>

<div class="section section-paragraph">
    <div class="container">
        <div class="col-xs-12 col-md-5 color-red font-40 section-paragraph-title">
            与我们一同在
            燕窝的世界里
            创写历史和未来
        </div>
        <div class="col-xs-12 col-md-7 color-gray font-20 section-paragraph-text">
            <p>
                每个空间转型都应该根据您的业务需求进行调整，帮助人们做最好的工作，同时优化房地产。Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择，以改变您的空间，随着您的需求发展。
                从谦卑的根源开始 - 在密歇根湖畔的中西部城镇制作木制家具 -</p>

            <p>
                已经发展成为一个全球性公司，专注于有机工作空间，帮助人们表现最好。每个空间转型都应该根据您的业务需求进行调整，帮助人们做最好的工作，同时优化房地产。Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择。</p>

            <p>Haworth不仅仅是一家办公家具制造商。从地板到天花板，从墙到墙，我们的产品组合为您提供无尽的选择，以改变您的空间，随着您的需求发展。</p>
        </div>
    </div>
</div>
<div class="section section-banner-text bg-red color-white text-center">
    <div class="container">
        <div class="font-36 margin-bottom-20">
            我们的任务，
            我们的愿景
        </div>
        <div class="font-20">
            多年来，我们公司不断发展壮大，投资于研究，设计和收购，扩大我们的产品组合和网络，以满足不断变化的市场动态。我们协调我们的战略，以确保我们为客户提供工作场所的知识，创新，设计和全球专业知识，使他们的成功。我们为每个客户提供定制的空间，增强他们的业务，激发他们的精神，维持地球。
        </div>
    </div>
</div>
<div class="section section-about text-center">
    <div class="container">
        <div class="section-about-item col-xs-12 col-md-4">
            <div class="section-about-thumb margin-bottom-30">
                <img src="images/thumbup.png" />
            </div>
            <div class="font-20">
                我们设计和制造产品解决方案，帮助您创造鼓舞人心的空间。我们的投资组合的广度和实力构成了创造有机工作空间的基础。
            </div>
        </div>
        <div class="section-about-item col-xs-12 col-md-4">
            <div class="section-about-thumb margin-bottom-30">
                <img src="images/clock.png" />
            </div>
            <div class="font-20">
                我们设计和制造产品解决方案，帮助您创造鼓舞人心的空间。我们的投资组合的广度和实力构成了创造有机工作空间的基础。
            </div>
        </div>
        <div class="section-about-item col-xs-12 col-md-4">
            <div class="section-about-thumb margin-bottom-30">
                <img src="images/medal.png" />
            </div>
            <div class="font-20">
                我们设计和制造产品解决方案，帮助您创造鼓舞人心的空间。我们的投资组合的广度和实力构成了创造有机工作空间的基础。
            </div>
        </div>
    </div>
</div>

<div class="section section-jobs">
    <div class="container">
        {% for item in site.data.section-jobs %}
        <div class="job-item col-xs-12 col-sm-6">
            <div class="job-item-bg background-cover" style="background-image: url('{{item.image}}')">
                <div class="job-item-text">
                    <div class="font-18 color-yellow">
                        {{item.text-1}}
                    </div>
                    <div class="font-40 color-red">
                        {{item.text-2}}
                    </div>
                    <div class="font-18">
                        {{item.text-3}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>