---
layout: default
slug: home
template: template-home
---
<div class="section section-grid clearfix max-width-1400">
    <div class="container no-padding">
        <div class="grid-wrap clearfix">
            {% for i in (3..26) %}
            <div class="grid-item background-cover" style="background-image: url('images/Yan-Hui_Website_Master_{{i}}.jpg');">

            </div>
            {% endfor %}
        </div>
        <div class="box-decor">
            <div class="box-decor-text">
                自今年1月以来，马来西亚燕窝陆续进入中国内地市场，但销售模式发生了变化，中国原有燕窝品牌商沦为了马来西亚燕窝品牌代理商。
            </div>
            <div class="box-decor-small">
                自今年1月以来，马来西亚燕窝陆续进入中国内地市场，但销售模式发生了变化，中国原有燕窝品牌商沦为了马来西亚燕窝品牌代理商。
            </div>
            <div class="box-decor-btn-wrap">
                <div class="box-decor-cross"></div>
                <div class="box-decor-btn">了解更多</div>
            </div>
        </div>
    </div>
</div>

<div class="section section-jobs">
    <div class="container">
        {% for item in site.data.section-jobs %}
        <div class="job-item col-xs-12 col-sm-6">
            <div class="job-item-bg background-cover" style="background-image: url('{{item.image}}')">
                <div class="job-item-text">
                    <div class="font-18 color-yellow">
                        {{item.text-1}}
                    </div>
                    <div class="font-40 color-red">
                        {{item.text-2}}
                    </div>
                    <div class="font-18">
                        {{item.text-3}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>