<!-- FOOTER -->
<div class="section bg-white gardenlight section-footer">

    <div class="container-new">

        <div class="app-wrap">
            <div class="app-remind">
                <h5>Planning a visit soon?</h5>

                <p>Download our app to navigate our park
                    easily and learn more about the plants.</p>
            </div>
            <div class="app-logo">
                <img src="img/line.jpg" class="img-responsive hidden-xs app-line">
                <img src="img/icon.png" class="img-responsive">
                <a href="https://itunes.apple.com/us/app/gardens-by-the-bay/id929016493?mt=8"><img
                        src="img/download-apple.png" class="img-responsive"></a>
                <a href="https://play.google.com/store/apps/details?id=com.chorusgames.gardensbythebay&amp;hl=en"><img
                        src="img/download-google.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
    <div class="bar-horizon">
        <div class="bar"></div>
    </div>
    <div class="container-new">
        <table>
            <tr>
                <td style="padding:0 15px;">
                    <table width="30%" border="0" cellspacing="0" cellpadding="0" align="left" class="em_wrapper">
                        <tr>
                            <td style="color:#6a6a6a; font-size:14px; line-height: 14px;">
                                <a href="https://www.facebook.com/gardensbythebay/" target="_blank"><img
                                        src="img/facebook.png" border="0" alt="Facebook"></a>
                                <a href="https://instagram.com/gardensbythebay/" target="_blank"><img
                                        src="img/instagram.png" border="0" alt="Instagram"></a>
                                <a href="https://twitter.com/gardensbythebay" target="_blank"><img src="img/twitter.png"
                                                                                                   border="0"
                                                                                                   alt="Twitter"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#6a6a6a; font-size:14px; text-decoration: none">@gardensbythebay

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://www.gardensbythebay.com.sg/en.html?utm_source=gb-site_subscribers&utm_medium=email&utm_campaign=gb-ezine-2016-07&utm_content=gb-logo"
                                   target="_blank" style="color:#6a6a6a; font-size:14px; text-decoration: none">gardensbythebay.com.sg</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#6a6a6a; font-size:14px; text-decoration: none">18 Marina Gardens Drive,
                                Singapore 018953</a>
                            </td>
                        </tr>
                    </table>
                    <table width="70%" border="0" cellspacing="0" cellpadding="0" align="right" class="em_wrapper">
                        <tr>
                            <td>
                                <a href="http://www.gardensbythebay.com.sg/en.html?utm_source=gb-site_subscribers&utm_medium=email&utm_campaign=gb-ezine-2016-10&utm_content=gb-logo"
                                   target="_blank"><img src="img/footer.png" border="0"
                                                        style="width:100%; min-width: 285px"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
