/*!
CSS Content
- Default CSS
- Navbar
*/

body {
  font-size: 14px;
  font-family: "Microsoft YaHei", san-serif;
}

/*! Default CSS */
.display-block {
  display: block;
}

.btn-clear {
  background-color: transparent;
  border: none;
}

.btn-toggle .icon-bar {
  height: 3px;
  width: 40px;
  display: block;
  margin: 8px 0 5px;
  background-color: #7f542a;
  border-radius: 3px;
}

.btn-toggle .sr-only + .icon-bar {
  margin-top: 4px;
}

.background-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-yellow {
  color: #b49310;
}

.color-red {
  color: #d71a17;
}

.color-white {
  color: #fff;
}

.color-pink {
  color: #d98484;
}

.color-gray {
  color: #888;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
  line-height: 24px;
}

.font-20 {
  font-size: 20px;
  line-height: 28px;
}

.font-24{
  font-size: 24px;
  line-height: 30px;
}

.font-36 {
  font-size: 36px;
  line-height: 42px;
}

.font-40 {
  font-size: 40px;
  line-height: 45px;
}

.max-width-725 {
  max-width: 725px;
}

.max-width-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.bg-red {
  background-color: #d71a17;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.no-padding {
  padding: 0;
}

.section-content p {
  margin: 15px 0;
}

.form-group{
  margin-bottom: 20px;
}

.form-control{
  font-size: 20px;
  border-color: #e5e5e5;
  border-radius: 0;
  height: 75px;
  padding: 0 35px;
}

textarea.form-control {
  height: 240px;
  padding: 20px 35px;
}

.form-control:focus{
  border-color: #888;
  box-shadow: none;
}

.footer{
  margin-top: 150px;
}

.page-title{
  margin-bottom: 30px;
}