.box-decor {
  background: url("../images/decorator.jpg") no-repeat left 0 bottom 0;
  background-color: #d71a17;
  color: #fff;
  padding: 30px 25px;
  position: relative;
  top: -140px;
  width: 90%;
  margin: 0 auto;
}

.box-decor-text {
  font-size: 30px;
  margin-bottom: 20px;
}

.box-decor-small {
  font-size: 18px;
}

.box-decor-btn-wrap {
  position: absolute;
  bottom: -82px;
  background-color: #ba1f1f;
  width: 100%;
  height: 82px;
  left: 0;
  font-size: 22px;
  line-height: 82px;
}

.box-decor-cross {
  background: url(../images/cross_white.png) no-repeat center;
  width: 82px;
  float: left;
  height: 100%;
  background-color: #9b0d0d;
  border-right: 1px solid #b94444;
}

.box-decor-btn {
  float: left;
  height: 100%;
  width: 190px;
  text-align: center;
}

.page-generic .box-decor {
  margin-bottom: -100px;
}

.page-generic .box-decor-text {
  font-size: 45px;
}

