.footer{
  background-color: #d71a17;
  text-align: center;
  padding: 50px 0;
}

.footer-contact > span {
  display: block;
}

.footer-contact a {
  color: #fff;
}

.logo-footer {margin-bottom: 40px;}

.footer-text {
  margin-bottom: 20px;
}

.footer-qr {
  margin-bottom: 35px;
  line-height: 40px;
}