@media screen and (min-width: 480px) {

}

@media screen and (min-width: 640px) {
  .section-banner-item {
    width: 33.3%;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  .grid-wrap {
    padding-bottom: 60%;
  }
  .grid-item {
    width: 16.6%;
    padding-bottom: 16.6%;
  }
  .box-decor {
    background-position: right 0;
  }

//section jobs
  .job-item {
    padding-bottom: 64%;
  }

  .page-generic .grid-wrap {
    padding-bottom: 33%;
  }
}

@media screen and (min-width: 992px) {
  .footer-contact-wrap {
    text-align: justify;
  }

  .footer-contact-wrap:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .footer-contact-wrap > *, .footer-text > * {
    display: inline-block;
    vertical-align: middle;
  }
  .footer-text .font-40 {
    margin-right: 15px;
  }

  //generic page
  .section-paragraph {
    padding: 0 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  #main-menu {
    float: right;
    margin-top: 50px;
  }

  .section-grid {
    position: relative;
  }

  .section-grid .container {
    width: 1094px;
    float: left;
  }

  .box-decor {
    width: 691px;
    position: absolute;
    right: 0;
    top: 90px;
  }

  .section-jobs {
    margin-bottom: 140px;
  }

  .job-item {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 55%;
  }

  .job-item-bg {
    padding-bottom: 123%;
  }

  .grid-wrap {
    padding-bottom: 66%;
    margin-bottom: 100px;
  }

  .box-decor-btn-wrap {
    width: 315px;
    left: auto;
    right: 0;
  }
  .footer {
    padding: 20px 0;
  }
  .footer-contact-wrap > * {
    margin-bottom: 0;
  }
  .footer-contact > span {
    display: inline-block;
    vertical-align: middle;
  }
  .copyright {
    text-align: left;
  }

  //page generic
  .page-generic .grid-wrap{
    margin-bottom: 0;
  }

  .section-paragraph {
    padding: 50px 0;
  }

  .page-generic .box-decor-small{
    width: 460px;
  }

  .page-generic .box-decor{
    margin-bottom: 0;
    top: auto;
    bottom: 0;
  }
}

