@media screen and (min-width: 480px) {
  .section-our-product .background-cover {
    padding-bottom: 95%;
  }
  .resource-col {
    width: auto;
  }
}

@media screen and (min-width: 640px) {
  .section-banner-item {
    width: 33.3%;
    float: left;
  }

  .section-our-product .background-cover {
    padding-bottom: 60%;
  }
}

@media screen and (min-width: 768px) {
  .grid-wrap {
    padding-bottom: 60%;
  }
  .grid-item {
    width: 16.6%;
    padding-bottom: 16.6%;
  }
  .box-decor {
    background-position: right 0;
  }

//section jobs
  .job-item {
    padding-bottom: 64%;
  }

  .page-generic .grid-wrap {
    padding-bottom: 33%;
  }
}

@media screen and (min-width: 992px) {
  .footer-contact-wrap {
    text-align: justify;
  }

  .footer-contact-wrap:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .footer-contact-wrap > *, .footer-text > * {
    display: inline-block;
    vertical-align: middle;
  }
  .footer-text .font-40 {
    margin-right: 15px;
  }

  .footer-qr div {
    margin-bottom: 10px;
  }

//generic page
  .section-paragraph {
    padding: 0 0 30px;
  }

  .section-our-product .background-cover {
    padding-bottom: 40%;
  }

//resource page
  .resource-info {
    font-size: 25px;
    margin: 25px 0 20px;
  }

  .section-resources {
    padding-bottom: 60px;
  }

  .section-resources .section-content p,
  .section-contact .section-content p{
    letter-spacing: 1px;
  }

  .page-title {
    font-size: 45px;
  }

  .section-grid-general{
    margin-bottom: 80px;
  }

  .contact-div a {
    text-align: left;
  }

  .contact-div span{
    width: auto;
  }
  .section-our-product .box-decor-text{
    text-align: left;
    margin-bottom: 0;
  }

  .section-our-product .box-decor-text p {
    letter-spacing: 1px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  #main-menu {
    float: right;
    margin-top: 50px;
  }

  .section-grid, .section-our-product {
    position: relative;
  }

  .section-grid .box-decor,
  .section-our-product .box-decor {
    top: 90px;
    position: absolute;
    right: 0;
    width: 691px;
  }

  .section-grid .container,
  .section-our-product .container {
    width: 1094px;
    float: left;
  }

  .section-jobs {
    margin-bottom: 140px;
  }

  .job-item {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 55%;
  }

  .job-item-bg {
    padding-bottom: 123%;
  }

  .grid-wrap {
    padding-bottom: 66%;
    margin-bottom: 100px;
  }

  .box-decor-btn-wrap {
    width: 315px;
    left: auto;
    right: 0;
  }
  .footer {
    padding: 20px 0;
  }
  .footer-contact-wrap > * {
    margin-bottom: 0;
  }
  .footer-contact > span {
    display: inline-block;
    vertical-align: middle;
  }
  .copyright {
    text-align: left;
  }

//page generic
  .page-generic .grid-wrap {
    margin-bottom: 0;
  }

  .page-generic .box-decor-small {
    width: 460px;
  }

  .section-grid-general.section-grid .box-decor {
    margin-bottom: 0;
    top: auto;
    bottom: 0;
  }

  .section-our-product {
    margin-top: 70px;
  }

  .section-our-product .box-decor img {
    float: left;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .section-our-product .background-cover {
    padding-bottom: 48%;
  }
}

