.section-resources{

}

.resource-col{
  width: 100%;
  margin-bottom: 15px;
}

.resource-col span{
  margin-top: 10px;
  display: inline-block;

}
.resource-col div{
  display: inline-block;
  vertical-align: bottom;
}