<nav role="navigation" class="collapse navbar-collapse">
    <a href="javascript:void(0);" class="menu-close float-r">
        <img src="/images/menu-close.png" alt="menu close">
    </a>
    <ul class="menu-header first">
        <li><a href="/sub-page.html">APL Service Compass</a></li>
        <li><a href="/sub-page-chart.html">APL Homepage</a></li>
        <li><a href="#">Contact APL</a></li>
    </ul>
    <ul class="menu-header second">
        <li><a href="#">Schedule Reliability</a></li>
        <li><a href="#">Booking Turn Time</a></li>
        <li><a href="#">Documentation Turn Time</a></li>
        <li><a href="#">Amendment Turn Time</a></li>
        <li><a href="#">Dispute Resolution</a></li>
        <li><a href="#">Pre-Arrival Notification</a></li>
        <li><a href="#">Rating & Invoicing Accuracy</a></li>
        <li><a href="#">Service Response</a></li>
    </ul>
</nav>
