<!DOCTYPE html>
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 10]><!-->
<html class="no-js"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>YanHui</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
</script>
<script type="text/javascript" src="js/css3-mediaqueries.js"></script>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header class="header">
    <div class="container">
        <nav class="navbar">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header clearfix">
                <a class="navbar-brand pull-left" href="#">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="collapsed navbar-toggle-wrap hidden-lg pull-right" data-toggle="collapse"
                     data-target="#main-menu" aria-expanded="false">
                    <button type="button" class="btn-clear btn-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="toggle-text">菜单</span>
                </div>

            </div>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav font-16">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">关于燕汇</a></li>
                    <li><a href="#">分销的产品</a></li>
                    <li><a href="#">文章</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div id="{{page.slug}}" class="{{page.template}} main">
    {{content}}
</div>
<footer class="footer color-white">
    <div class="container clearfix">
        <div class="footer-contact-wrap">
            <div class="logo-footer">
                <img src="images/logo-footer.jpg" alt="">
            </div>
            <div class="footer-text">
                <span class="font-40">
                    任何询问？
                </span>
                <span class="font-18 footer-contact">
                    <span>立即联系我们于 <a href="tel:659839 5939">659839 5939</a></span>
                    <span>或者电邮我们</span>
                    <span><a href="mailto:enquiry@yanhuibirdnest.com">enquiry@yanhuibirdnest.com</a></span>
                </span>
            </div>
            <div class="footer-qr">
                <div class="font-18">
                    微信 ID: DDlovesg
                </div>
                <img src="images/qrcode.jpg">
            </div>
        </div>
        <div class="copyright font-16 color-pink">
            版权所有 2010-2015 上海磊诺家具公司
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>